# Clean Data and Images

Give image the correct name, and assign it a class

In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
import os
os.chdir('/Users/bcasares/git_folders/cs231n/cs231n_project/')

In [6]:
from preprocess_data import renameImages
from download_images import loadData

In [7]:
data = loadData()
data.head()

,Unnamed: 0,ZIPcode5,TaxRateArea,totBuildingDataLines,EffectiveYearBuilt,SQFTmain,LandValue,Bedrooms,Bathrooms,LandValue.1,Location 1,TotalValue,rowID,zip_class
0,0,90222.0,2800,1,1954,1278,242000,3,2,242000,"(33.912487579999997, -118.24696283)",309000,20186145008013,18
1,1,90222.0,2800,1,1948,750,129133,2,1,129133,"(33.91248744, -118.24712762999999)",216123,20186145008012,18
2,2,90222.0,2800,1,1967,1140,252500,3,2,252500,"(33.91281747, -118.24696307000001)",370000,20186145008004,18
3,3,90222.0,2800,1,1944,1065,222000,3,1,222000,"(33.9137092, -118.24712748)",342000,20186145007013,18
4,4,93532.0,4500,1,1985,936,58500,2,2,58500,"(34.657489150000004, -118.38092118)",234000,20183225006017,7

In [8]:
data.shape

(35387, 14)

In [9]:
to_keep = ["ZIPcode5", 'TaxRateArea', 'totBuildingDataLines', 'EffectiveYearBuilt', "SQFTmain", "LandValue", 
    "Bedrooms", 'Bathrooms', "LandValue",  "Location 1",'TotalValue',"rowID"]
# Select the ones you want
data = data[to_keep]

In [10]:
data.shape

(35387, 12)

In [11]:
data = data.dropna()
# data.isna().sum()

In [12]:
g = data.groupby('ZIPcode5')

zip_to_class_value = g.mean()["TotalValue"].to_frame() 
zip_to_class_value = zip_to_class_value.sort_values(by="TotalValue")
zip_to_class_value["zip_class"] = range(len(g))
zip_to_class_value = zip_to_class_value[["zip_class"]]
zip_to_class_value = zip_to_class_value.to_dict()["zip_class"]

def assignClass(zip_to_class_value):
    def inner(zip_code):
        return zip_to_class_value[zip_code]
    return inner

data["zip_class"] = data["ZIPcode5"].apply(assignClass(zip_to_class_value))

In [13]:
# data.to_csv("data/clean_data.csv")

In [14]:
renameImages(source_directory="data/DOWNLOAD_HOUSES")